.dashboard {
  color: $default-font-color;
  background-color: $default-bg-color;  
} // end of .dashboard

#main {
  position: relative;
  min-height: 100vh;
  padding: 55px 75px;
  padding-top: 63px;
  padding-bottom: 15px;
  padding-left: 75px;
  padding-right: 15px;  
  transition: transition(padding-left);  
} // end of #main

>.content {
  padding-bottom: 70px;
  overflow: hidden; // fix for sidebar/top position: fixed not working
} // end of > .content

.dashboard:not(.side-collapse) {
  #main {
    padding-left: 275px;
  } // end of #main
} // end of .dashboard:not(.s-collapse)


.dashboard.dark {
  #main {
    color: $light-font-color;
    background-color: $strong-dark;
  } // end of #main
} // end of .dashboard.dark